{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'pages/css/dashboard.css'%}">
</head>
<body>
    <header>
        <h1>Gestão de clientes</h1> <input type="button" value="Logout" class="botao_logout" data-url="{% url 'logout' %}" id="btn_logout">
    </header>
    
    <main>
        <nav>
            <input type="button" value="Agendar" id="btn_agendar" class="btn_dash" onclick="changeCard()">
            <input type="button" value="Agendamentos" class="btnClientes" id="btnClientes">
            <input type="button" value="Configuração" class="btnConfig" id="btnConfig" onclick="config()">
        </nav>
        <template id="template_card">
            <form method="POST" action="{% url 'add_customer' %}" class="form_agend" id="card_customers--agend">

                {% csrf_token %}
                {{ form.first_name }}
                {{ form.second_name }}
                {{ form.phone }}
                {{ form.date }}  {# Aqui vai aparecer como datetime-local #}
                {{ form.professional }}
                {{ form.services }}
                <button type="submit">Salvar</button>
            </form>


        

            

        </template>
        <div class="card_customers" id="card_customers">

            
                        
        </div>
    
    </main>
    
    <script src="{% static 'pages/js/dashboard.js'%}"></script>
</body>
</html>